
.panel {
    margin: 0px 5px;  
    /*background-color: #F1F2F2;*/
    background-color: White;
    border: none;
    border-bottom: 1px solid #F1F2F2;    
}

.mobile {
	font-family: Helvetica,Arial;
}

#head
{
    margin: 5px 5px 0px;     
    height: 22px;
    font-size: 1.5em;
    color: #7E7E7E;
    padding: 0px 5px 0px 5px;
    
    border: none;
    
    
    background: #FFF; /* Old browsers 015C88*/

    /*border-top: 1px solid #153A6D;*/
}

.title
{
    color: #7E7E7E;
}

.panel label 
{
    width: 110px;
    display: inline-block;
}

.header {
    /*color: White;    
    background: -moz-linear-gradient(center bottom,#0C8BB2 0%,#0FA9D8 70%,#0FA9D8 96%,#11C1FC 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,0% 100%,0% 0%,from(#0C8BB2),color-stop(.7,#0FA9D8),color-stop(.96,#0FA9D8),to(#11C1FC));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0d90d1',endColorstr='#0c85ad');
    background-color: #D3D3D3;
    border-bottom: 1px solid #EFEFEF;
    */
    padding: 2px 10px 1px;    
}

.padded
{
    padding: 5px;
}

.panel ul
{
    padding-left: 5px;
    margin-top: 3px;
    list-style-type: none;
    margin-bottom: 0px;
}

.statsPercentage
{
    float: left;
    width: 59px;    
    text-align: left;    
}

.percentageText
{
    color: #7E7E7E;
    font-size: 1.3em;
    position: absolute;
    top: 38%;
    width: 100%;
    text-align: center;
}

.overallText
{
    color: #FFF;
    font-size: 1.3em;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}

.yieldName
{
    font-size: 1.3em;
    padding-left: 5px;
    color: #55A2EA;
    font-weight: 500;
}

.bar
{
    position: absolute;    
    bottom: 0;
    width: 100%;
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(left,  #b4e391 0%, #63d11b 50%, #b4e391 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b4e391), color-stop(50%,#63d11b), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #b4e391 0%,#63d11b 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #b4e391 0%,#63d11b 50%,#b4e391 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #b4e391 0%,#63d11b 50%,#b4e391 100%); /* IE10+ */
    background: linear-gradient(left,  #b4e391 0%,#63d11b 50%,#b4e391 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 */
}

.progressBar
{
    -webkit-border-radius: 5px;        
    position: relative;
    height: 75px;
    border: 1px solid lightgray;
    margin: 4px;
    background-color: White;
}

.overallBar
{
    height: 60px;
    -webkit-border-radius: 5px;         
    position: relative;
    height: 35px;
    border: 1px solid lightgray;
    margin: 4px;    
    background: -webkit-linear-gradient(left, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
}

.overallBar.red
{
    background: -webkit-linear-gradient(left, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
}

.overallBar.orange
{
    background: -webkit-linear-gradient(left, #ffc578 0%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
}

.overallBar.green
{
    background: -webkit-linear-gradient(left, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
}

.overallBar.none
{
    background: none;
}

.statsInfo
{
    float: left;
}

.statsInfoLower
{
    margin-left: 60px;
}

.red
{
    background: #ff5656; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff5656 0%, #ff2121 50%, #ff8282 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff5656), color-stop(50%,#ff2121), color-stop(100%,#ff8282)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ff5656 0%,#ff2121 50%,#ff8282 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ff5656 0%,#ff2121 50%,#ff8282 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ff5656 0%,#ff2121 50%,#ff8282 100%); /* IE10+ */
    background: linear-gradient(left,  #ff5656 0%,#ff2121 50%,#ff8282 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5656', endColorstr='#ff8282',GradientType=1 ); /* IE6-9 */
}

@media all and (min-width: 400px)
{
    .percentageText
    {
        font-size: 1.5em;
    }

    .progressBar
    {
        /*height: 90px;*/
    }
    
    /*.statsPercentage
    {
        width: 70px;
    }*/
    
    .panel label 
    {
        width: 150px;
    }
    
    body, html {
        /*font-size: 13px;*/
    }
}
